<div>
  <p *ngIf="stream$ | async as response"></p>
  <ul *ngFor="let person of people">
    <li>{{person.name}}</li>
    <li>{{person.age}}</li>
  </ul>
</div>

<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="makePostRequest()">Post Method</button>

<br>
<br>
<br>
<br>

<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="makePutRequest()">Put Method</button>

<br>
<br>
<br>

<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="getPhotos()">Get Photos Method</button>

<br>
<br>
<br>

<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" [routerLink]="'/employees'">Redirect to Employees</button>


<router-outlet></router-outlet>
