<!--<h1 class="text-3xl font-bold underline">Welcome to Video Streamer</h1>-->

<!--&lt;!&ndash;<ng-template #roomComponent></ng-template>&ndash;&gt;-->

<!--<app-container>-->
<!--  <app-rooms></app-rooms>-->
<!--  <app-employee></app-employee>-->
<!--  <p> This will be replace ng content in the Container component </p>-->
<!--</app-container>-->


<!--<app-table></app-table>-->
<a [routerLink]="'rooms'">Click Me to go To Rooms</a>
<br>
<a [routerLink]="'employees'">Click Me to go to Employees</a>

<router-outlet></router-outlet>
